.categories {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.search-area {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: scroll;
  width: 68%;
}
